[include]
	path = ~/.gitconfig.local

[user]
	email = sandervanmelsen@gmail.com
	name = Sander van Melsen

[alias]
	# Staging
	a = add
	ae = add -u
	aa = add --all

	# Commit
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	# cal = !git add -A && git commit # Commit all changes
	amend = commit --amend
	yolo = commit -am "Deal with it"

	# Clone
	cl = clone

	# Checkout
	co = checkout
	cb = checkout -b

	# Push
	p = push
	pf = push -f
	# pom = push origin master
	# poh = push origin head

	# Fetch
	f = fetch --all --prune --tags

	# Rebase
	r = rebase
	ri = rebase -i

	# Reset
	unstage = reset HEAD --
